<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
	<meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
	<title>修改密码</title>
	<link rel="stylesheet" type="text/css" href="../aui/css/aui.2.0.css">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body class="login-bg">
	<header class="aui-bar aui-bar-nav aui-bar-light">
    	<a class="aui-pull-left aui-btn">
        <span class="aui-iconfont aui-icon-left"></span>
   		</a>
    	<div class="aui-title">修改密码</div>
	</header>
	<div class="aui-content login">
		<div class="aui-row">
			<div class="login-content">
			<div class="aui-col-xs-4 passwordleft modifypassleft">原密码</div>
			<div class="aui-col-xs-8"><input type="text" placeholder="输入原密码"></div>
		</div>
		</div>
		<div class="aui-row">
			<div class="login-content">
			<div class="aui-col-xs-4 passwordleft modifypassleft">新密码</div>
			<div class="aui-col-xs-8"><input type="text" placeholder="请输入新密码"></div>
		</div>
		</div>
		<div class="aui-row">
			<div class="login-content">
			<div class="aui-col-xs-4 modifypassleft">确认新密码</div>
			<div class="aui-col-xs-8"><input type="text" placeholder="请再次输入新密码" style="width: 73% !important"></div>
		</div>
		</div>
	</div>
	<div class="login-up-btn">
        <button class="aui-btn aui-btn-primary">修改密码</button>
    </div>
</body>
</html>