<div class="g-fotter">
    <div class="wrap">
        <h2 class="logo">
            <img src="__IMG__/UserCenter/logo.png" width="68" height="68" />
        </h2>
        <div class="my-nav">
            <ul class="nav-list">
                <li><a href="#" title="首页">首页</a></li>
                <li><a href="#" title="产品中心">产品中心</a></li>
                <li><a href="#" title="发布需求">发布需求</a></li>
                <li><a href="#" title="开发者入口">开发者入口</a></li>
                <li><a href="#" title="成功案例">成功案例</a></li>
                <li><a href="#" title="关于我们">关于我们</a></li>
            </ul>
            <h6 class="f-honor">Copyright © 京ICP备14013455号-</h6>
        </div>
        <div class="tell-wrap">
            <i class="arrow"></i>
            400 008 9495
        </div>

    </div>
</div>