<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>我的个人中心编辑名称</title>
    <link rel="stylesheet" href="__CSS__/UserCenter/mydate.css">
</head>
<body class="mylovename-body-edit">
<!-- 个人中心详情页 -->
<main class="mydata-wrap">
    <!-- top -->
    <header class="g-header">
        <a class="Header-back" href="javascript:history.go(-1)"><i class="ico-back"></i></a><h1>昵称</h1>
        <button class="w-button" type="button" id="btn_save_name">保存</button>
    </header>
    <!-- top -->
    <form class="m-user-edit" action="/Home/UserCenter/UserCenter/Upusernickname" method="post" id="form_nic" novalidate="novalidate">
        <div class="m-user-inputBar">
            <div class="m-bar">
                <div class="w-bar-control">
                    <textarea  class="w-txt2 w-bar-input" name ="mynickname" resize="none" value="" id="i_nickname"  placeholder="请输入您的个性签名" minlength="2" maxlength="30" ><if condition="$nickname neq  ''" >{$nickname}</if></textarea>
                    <span class="txt-num">最多30字</span>
                </div>
                <div class="show-warning"  id="dom_error_wrap"></div>

            </div>
        </div>
        <input type="hidden" name="userid" value="{$userid}">
    </form>

</main>
<script src="__JS__/jquery-2.0.0/jquery.min.js"></script>
<script src="__JS__/UserCenter/mydata.js" type="text/javascript"></script>
</body>
</html>
