<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <meta content="zh-CN" http-equiv="Content-Language" />
    <title>设置新密码</title>
    <meta content="mbaobao.com" name="Copyright" />
    <meta content="关键字" name="Keywords" />
    <meta content="描述" name="Description" />
    <meta content="1GdE-bOwtaftzUH2-g1IcuNL7VYPf7t0qkI0vSpSPo0" name="google-site-verification" />
    <meta property="qc:admins" content="1041326176652172176375" />


    <link rel="stylesheet" type="text/css" href="__CSS__/UserCenter/member.css" media="all" />

</head>
<body class="register-box">
<!-- 头部 -->
<include file="UserCenter/header"/>
<!-- 头部 -->
<!-- 注册模块 -->
<h6 class="wrap findpassword-title">
    修改密码
</h6>
<div class="step-wrap wrap updatapasword">
    <ul>
        <li class="on">1.修改密码</li>

        <li class="borderclear">2.完成</li>
    </ul>
</div>
<div class="findpassword-wrap step-s-2 updatapasword-wrap wrap">
    <h6 class="title">你正在修改密码</h6>
    <div class="input-wrap">
        <form name="form_find" action="{:U('/Home/UserCenter/UserCenter/ResetPassword',array('x'=>'secrect','f'=>'json','t'=>'pc'))}" method="post" id="form_find2" class="form-wrap">

            <div class="form-input">
                <label class="label-titlex" for="pro-userpassword">原密码:</label>
                <input id="pro-userpassword" _href="{:U('/Home/UserCenter/UserCenter/CheckPassword',array('x'=>'nosecrect','f'=>'json','t'=>'pc'))}" type="password" name="pro-userpassword" maxlength="100" minlength="3" value="" placeholder="请输入您的原始密码">

                <span class="post_error"></span>
            </div>

            <div class="form-input">
                <label class="label-titlex" for="new-password">新密码:</label>
                <input id="new-password" type="password" name="new-password" maxlength="100" minlength="3" value="" placeholder="请输入您的新密码">
                <span class="post_error"></span>
            </div>
            <div class="form-input">
                <label class="label-titlex" for="new-passwordr">新密码:</label>
                <input id="new-password1" type="password" name="new-password1" maxlength="100" minlength="3" value="" placeholder="请再次输入您的新密码">
                <span class="post_error"></span>
            </div>
            <div class="form-input">
                <input type="submit" class="submit-btn updata-btn" value="下一步" id="updata">
            </div>
            <input type="hidden" name="mobile" id="mobile" value="{$mobile}">
        </form>
    </div>

</div>
<!-- 注册模块 -->
<!-- 底部公用模块 -->
<include file="UserCenter/footer"/>
<!-- 底部公用模块 -->
<script src="__JS__/jquery-2.0.0/jquery.min.js"></script>
<script src="__JS__/UserCenter/updatapasword.js"></script>
</body>

</html>