.fontblue{
    color:#0000ff;
}
/* = 分页
------------------------------------------ */
.page {
    margin: 10px 0;
    *zoom: 1;
}
.page:before,
.page:after {
    display: table;
    content: "";
}
.page:after {
    clear:both;
}
.page a,
.page span {
    float: left;
    margin-left: -1px;
    padding: 0 14px;
    height: 30px;
    line-height: 30px;
    color: #686868;

    border: 1px solid #CCCCCC;
    /*background-color: #4bbd00;*/
}
.page a:hover
{
    text-decoration: none;
    background-color: #e1e1e1;
}
.page .current {
    height: 28px;
    line-height: 26px;
    border-top: 3px solid #5a98de;
}
.page .next,
.page .prev {
    font-family: "宋体";
    font-weight: bold;
}
.page .rows {
    border-right: 1px solid #CCCCCC;
}