<include file="Public/base"/>
<body>
    <div class="page-container">
        <form action="" method="post" class="form form-horizontal" id="commentFrom">
            <input type="hidden" name="type" value="excel">
            <input type="hidden" name="order_id" value="{$order_id}">
            <div class="row cl">
                <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                    <p>
                        导入您需要的Excel表，如果对不清楚变个形式，请查看<a href="/Uploads/Excel/salemanager.xlsx">下载Excel导入模板</a>
                    </p>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3">附件：</label>
                <div class="formControls col-xs-8 col-sm-9"> <span class="btn-upload form-group">
                        <input class="input-text upload-url" type="text" name="uploadfile" id="uploadfile" readonly nullmsg="请添加附件！" style="width:200px">
                        <a href="javascript:void();" class="btn btn-primary radius upload-btn"><i class="Hui-iconfont">&#xe642;</i> 浏览文件</a>
                        <input type="file" multiple name="excel" class="input-file">
                    </span> </div>
            </div>
            <div class="row cl">
                <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                    <button onClick="sub_save();" class="btn btn-secondary radius" type="button"> 提交</button>
                    <button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
             </div>
            </div>
        </form>
    </div>
    <script type="text/javascript">
        function sub_save()
        {
            var formData = new FormData($("#commentFrom")[0]);
            $.ajax({
                url: '',
                type: 'POST',
                data: formData,
                async: false,
                cache: false,
                contentType: false,
                processData: false,
                success: function (returndata) {
                    obj = jQuery.parseJSON(returndata);
                    if (obj.status != 4) {
                        iHtml = '';
                        iHtml += '<table class="table table-border table-bordered table-bg">';
                        iHtml += '<thead>';
                        iHtml += '<tr>';
                        iHtml += '<th scope="col" colspan="9">导入成功数据：' + obj.snum + ';失败数据：' + obj.fnum + '；重复数据：' + obj.rnum + '</th>';
                        iHtml += '</tr>';
                        iHtml += '<tr class="text-c">';
                      /*   iHtml += '<th width="80">投放计划Id</th>'; */
                        iHtml += '<th width="80">手机号</th>';
                        iHtml += '<th width="60">姓名</th>';
                        iHtml += '<th width="60">身份证</th>';
                        iHtml += '<th width="60">性别</th>';
                        iHtml += '<th width="60">年龄</th>';
                        iHtml += '<th width="60">所属县</th>';
                        iHtml += '<th width="60">工作事项</th>';
                        iHtml += '<th width="60">状态</th>';
                        iHtml += '</tr>';
                        iHtml += '</thead>';
                        iHtml += '<tbody>';
                        if (obj.rnum > 0) {
                            $.each(obj.rdate, function (n, value) {
                                iHtml += '<tr class="text-c">';
                                iHtml += '<td>' + value.data.phone + '</td>';
                                iHtml += '<td>' + value.data.real_name + '</td>';
                                iHtml += '<td>' + value.data.card_number + '</td>';
                                iHtml += '<td>' + value.data.origin_sex + '</td>';
                                iHtml += '<td>' + value.data.age + '</td>';
                                iHtml += '<td>' + value.data.origin_manage_locations + '</td>';
                                iHtml += '<td>' + value.data.work_event + '</td>';
                                iHtml += '<td>' + value.data.status + '</td>';
                                iHtml += '</tr>';
                            });
                        }
                        iHtml += '</tbody>';
                        iHtml += '</table>';
                
                        layer.open({
                            type: 1,
                            title: '重复数据',
                            skin: 'layui-layer-rim', //加上边框
                            area: ['700px', '240px'], //宽高
                            content: iHtml
                        });
                    } else {
                        layer.msg(obj.msg);
                    }
                },
                error: function (returndata) {
                    alert(returndata);
                }
            });
        }

         function backlist(){
        	 layer.close();
         }

    </script>
</body>
</html>
