<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <meta content="zh-CN" http-equiv="Content-Language" />
    <title>绑定邮箱</title>
    <meta content="mbaobao.com" name="Copyright" />
    <meta content="关键字" name="Keywords" />
    <meta content="描述" name="Description" />
    <meta content="1GdE-bOwtaftzUH2-g1IcuNL7VYPf7t0qkI0vSpSPo0" name="google-site-verification" />
    <meta property="qc:admins" content="1041326176652172176375" />


    <link rel="stylesheet" type="text/css" href="__CSS__/UserCenter/member.css" media="all" />

</head>
<body class="register-box">
<!-- 头部 -->
<include file="UserCenter/header" />
<!-- 头部 -->
<!-- 注册模块 -->
<h6 class="wrap findpassword-title">
    绑定邮箱 <p class="title">
</h6>
<div class="step-wrap wrap">
    <ul>
        <li>1.填写绑定邮箱</li>
        <li class="borderclear on">2.验证/修改</li>
        <li class="borderclear">3.完成</li>
    </ul>
</div>
<div class="findpassword-wrap  step-e-2 wrap">
    <h6 class="title">您正在绑定邮箱</h6>
    <div class="input-wrap">
        <p class="txt1">我们发送了一封验证邮件到{$email}，请到您的邮箱收信，并点击其中的链接验证您的邮箱</p>
        <a class="btn-email" href="http://{$emailurl}" target="_blank">去邮箱查看</a>

        <div class="nocode-wrap">
            <h6 class="txt2">收不到邮件？</h6>
            <span>请检查你的垃圾箱或广告箱，邮件有可能被误认为垃圾邮件或广告邮件；或选择</span>
            <a class="reploy-btn" href="#" id="reploy-btn">重新发送</a>
        </div>
    </div>

</div>
<!-- 注册模块 -->
<!-- 底部公用模块 -->
<include file="UserCenter/booter" />
<!-- 底部公用模块 -->
</body>


</html>