<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>我的个人中心修改密码</title>
    <link rel="stylesheet" href="__CSS__/UserCenter/mydate.css">
    <script src="__JS__/jquery-2.0.0/jquery.min.js"></script>
    <script src="__JS__/UserCenter/mydata.js" type="text/javascript"></script>
</head>
<body class="password-body-edit">
<!-- 个人中心详情页 -->
<main class="mydata-wrap">
    <!-- top -->
    <header class="g-header">
        <a class="Header-back" href="javascript:history.go(-1)"><i class="ico-back"></i></a><h1>修改密码</h1>

    </header>
    <!-- top -->
    <form class="m-user-edit" action="/Home/UserCenter/UserCenter/Upnewpassword" method="post" id="form_password" novalidate="novalidate">
        <div class="m-user-inputBarpro">
            <input class="w-bar-input" name="password" type="password" id="i_password" minlength="1" maxlength="11" required="" placeholder="请输入原密码" aria-required="true">
        </div>
        <div class="m-user-inputBar">
            <div class="m-bar">
                <div class="w-inputBar">
                    <div class="w-bar-control">
                        <input class="w-bar-input" name="password" type="password" id="i_passwordnew" minlength="6" maxlength="20" required="" placeholder="请输入新的密码" aria-required="true">
                    </div>
                    <div class="w-bar-control">
                        <input class="w-bar-input" name="repassword" type="password" id="i_repassword" minlength="6" maxlength="11" required="" placeholder="请再输入一次" aria-required="true">
                    </div>
                </div>
                <div class="show-warning"  id="dom_error_wrap" _href="{:U('/Home/UserCenter/UserCenter/QRpassword')}"></div>
            </div>
        </div>
        <div class="m-pay-order-submit">
            <input type="hidden" name ="userid" value="{$userid}" id="userid"  >
            <input class="w-button w-button-submit" type="submit" value="确定" id="save-password-btn">
        </div>
    </form>

</main>

</body>
</html>
