<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <meta content="zh-CN" http-equiv="Content-Language" />
    <title>标题</title>
    <meta content="mbaobao.com" name="Copyright" />
    <meta content="关键字" name="Keywords" />
    <meta content="描述" name="Description" />
    <meta content="1GdE-bOwtaftzUH2-g1IcuNL7VYPf7t0qkI0vSpSPo0" name="google-site-verification" />
    <meta property="qc:admins" content="1041326176652172176375" />


    <link rel="stylesheet" type="text/css" href="__CSS__/UserCenter/member.css" media="all" />

</head>
<body class="register-box">
<!-- 头部 -->
<include file="UserCenter/header" />
<!-- 头部 -->
<!-- 注册模块 -->
<h6 class="wrap findpassword-title">
    找回登录密码 <p class="title">
</h6>
<div class="step-wrap wrap">
    <ul>
        <li class="on">1.确认账号/短信验证</li>
        <li class="borderclear">2.修改</li>
        <li class="borderclear">3.完成</li>
    </ul>
</div>
<div class="findpassword-wrap step-s-1 wrap">
    <h6 class="title">您正在找回密码</h6>
    <div class="input-wrap">
        <form name="form_find" action="{:U('/Home/LoginAndRegister/Login/SetPasswordpc')}" method="post" id="form_find" class="form-wrap">
            <div class="form-input">
                <label class="label-titlex" for="number">手机号:</label>
                <input name="number" class="input-text number" id="number" type="text" value="" placeholder="请输入您的手机号">
                <span class="post_error"></span>
            </div>
            <div class="form-input">
                <input name="code" class="input-text code" style="width: 150px;" id="code" _href="{:U('/Home/LoginAndRegister/Register/CheckYzmwap',array('x'=>'nosecret','f'=>'json'))}" type="text" value="" placeholder="请输入您的手机验证码">
                <span class="post_error"></span>
                <a href="javascript:" class="get-code" _href="{:U('/Home/LoginAndRegister/Register/SendYzm',array('x'=>'nosecret','f'=>'json'))}" id="get-code2">获取验证码</a>
            </div>
           <!-- <div class="form-input">
                <label class="label-titlex" for="code">短信验证码</label>
                <input name="code" class="input-text code" id="code" type="text" value="" placeholder="请输入您的手机验证码">
                <span class="post_error"></span>
            </div>-->
            <div class="form-input">
                <input type="submit" style="left: 85px;" class="submit-btn step1" value="下一步" id="step1">
            </div>
        </form>
    </div>

</div>
<!-- 注册模块 -->
<!-- 底部公用模块 -->
<include file="UserCenter/booter" />
<!-- 底部公用模块 -->
<script src="__JS__/jquery-2.0.0/jquery.min.js"></script>

<script>

</script>
<script src="__JS__/UserCenter/findpassword1.js"></script>
</body>


</html>