<include file="Public/base"/>
<!--表单-->
<div class="pd-20">
    <form action="" method="post" class="form form-horizontal" id="submitForm">
        <div class="row cl">
            <label class="form-label col-3">诊所名称</label>
            <div class="formControls col-5">
                <input type="text" class="input-text" name="clinic_name" value="{$clinic_name}" required id="clinic_name">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-3">联系电话</label>
            <div class="formControls col-5">
                <input type="text" class="input-text" name="clinic_phone" value="{$clinic_phone}" required id="clinic_phone">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-3">地址</label>
            <div class="formControls col-5">
                <input type="text" class="input-text" name="clinic_address" value="{$clinic_address}" required id="clinic_address">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-3">擅长</label>
            <div class="formControls col-5">
                <textarea name="clinic_specialty" id="clinic_specialty" style="margin: 0px; height: 66px; width: 341px;" required>{$clinic_specialty}</textarea>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-3">简介</label>
            <div class="formControls col-5">
                <textarea name="clinic_introduction" id="clinic_introduction" style="margin: 0px; height: 66px; width: 341px;" required>{$clinic_introduction}</textarea>
            </div>
        </div>
        <div class="row cl">
            <div class="col-9 col-offset-3">
                <input type="hidden" name="id" id="id" value="{$id}">
                <button class="btn btn-primary radius" id="submit" type="submit">确 定</button>
                <button class="btn btn-warning radius" onclick="history.back(-1);return false;">返 回</button>
            </div>
        </div>
    </form>
</div>
<!--引入js,css-->
<script type="text/javascript" src="__STATIC__/common/js/func.js"></script>
<script type="text/javascript" src="__STATIC__/common/js/add.js"></script>
<script type="text/javascript">
    //验证相关
    var validate_rules = {
    };
    var validate_messages = {
    };
</script>