<include file="Public/base"/>
<div class="pd-20">
    <!--头部按钮-->
    <div class="cl pd-5 bg-1 bk-gray mt-20">
        <notempty name="actions">
            <!--批量删除-->
            <if condition="isset($actions['ClinicmanagerDELETE'])">
                <span class="l mr-10">
                    <a class="btn btn-primary radius" id="delete" href="javascript:;" _href="<?php $str = $Think.ADMIN_PATH_NAME.$actions['ClinicmanagerDELETE']['url'];echo U($str,array('key'=>$actions['ClinicmanagerDELETE']['key']))?>">删除</a>
                 </span>
            </if>
            <!--新增-->
            <if condition="isset($actions['ClinicmanagerADD'])">
                <span class="l mr-10">
                    <a class="btn btn-primary radius" href="<?php $str = $Think.ADMIN_PATH_NAME.$actions['ClinicmanagerADD']['url'];echo U($str,array('key'=>$actions['ClinicmanagerADD']['key']))?>">新增</a>
                 </span>
            </if>
            <!--excel导入-->
            <if condition="!isset($actions['ClinicmanagerADD'])">
                <span class="l mr-10">
                    <a class="btn btn-primary radius" href="/Uploads/Excel/doctor.xlsx">excel模板下载</a>
                 </span>
                <span class="l mr-10">
                    <input type='file' id="excel_uploader" class="uploader"/>
                 </span>
            </if>
        </notempty>
    </div>
    <!-- 数据列表 -->
    <div class="mt-20">
        <div class="data-table table-striped">
            <table class="table table-border table-bordered table-bg table-sort">
                <thead>
                    <tr class="text-c">
                        <th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
                        <th class="">id</th>
                        <th class="">负责人姓名</th>
                        <th class="">负责人电话</th>
                        <th class="">诊所</th>
                        <th class="">操作</th>
                    </tr>
                </thead>
                <tbody>
                <notempty name="list">
                    <volist name="list" id="vo">
                        <tr class="text-c">
                            <td><input class="ids" type="checkbox" name="id" value="{$vo.id}" data-other="{$vo.user_id}"/></td>
                            <td>{$vo.id}</td>
                            <td>{$vo.name}</td>
                            <td>{$vo.mobile}</td>
                            <td>{$vo.clinic}</td>
                            <td>
                                <if condition="isset($actions['ClinicmanagerEDIT'])">
                                    <a class="btn btn-link" href="<?php $str = $Think.ADMIN_PATH_NAME.$actions['ClinicmanagerEDIT']['url'];echo U($str,array('key'=>$actions['ClinicmanagerEDIT']['key'],'id'=>$vo['id']))?>">编辑</a>
                                </if>
                                <if condition="isset($actions['ClinicmanagerDELETE'])">
                                    <a class="btn btn-link delete" href="javascript:;" _href="<?php $str = $Think.ADMIN_PATH_NAME.$actions['ClinicmanagerDELETE']['url'];echo U($str,array('key'=>$actions['ClinicmanagerDELETE']['key'],'id'=>$vo['id']))?>">删除</a>
                                </if>
                            </td>
                        </tr>
                    </volist>
                <else/>
                    <td colspan="14" class="text-center"> Oh! 暂时还没有内容!</td>
                </notempty>
                </tbody>
            </table>
        </div>
    </div>
    <div class="page">
        {$page}
    </div>
</div>
<!--引入js,css-->
<link type="text/css" href="__STATIC__/uploadify/uploadify.css" rel="stylesheet"/>
<script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
<script type="text/javascript" src="__STATIC__/common/js/func.js"></script>
<script type="text/javascript" src="__STATIC__/common/js/index.js"></script>
<script type="text/javascript">
    $(function () {
        //上传excel
        var config = {
            text:'excel导入',
            multi:false,
            size:'{$upload_conf.maxSize}B',
            ext:'{$upload_conf.u_exts}',
            handle:"{:U('/Admin/Common/Upload/excel')}",
            formData:{handle1:'Clinic',handle2:'ClinicDoctor',method:'excel'}
        };
        handleUpload('excel_uploader',config,success_func,error_func);
    });
    //上传成功处理函数
    function success_func(data) {
        layer_success('添加成功',1500,location.reload());
    }
    //上传失败处理函数
    function error_func(data){
        if(data.code==3){
            var html = '<div style="padding: 20px;"><span>失败数: '+data.count+'</span><br><span>下载失败文档: <a target="_blank" href="/'+data.path+'" style="color:red" onclick="layer.closeAll()">点我下载</a></span></div>';
            layer.open({
                type: 1,
                area: ['300px', '200px'],
                skin: 'layui-layer-demo',
                shift: 2,
                title: '上传失败说明',
                shadeClose: true,
                content: html
            });
        }else{
            layer.alert(data.msg);
        }
    }
</script>