<include file="Public/base"/>
<div class="pd-20">
    <form action="{$url}" method="post" class="form form-horizontal" id="addLableForm">
        <div class="row cl">
            <label class="form-label col-3">标签名称</label>
            <div class="formControls col-5">
                <input type="text" class="input-text" name="lable_name" value="" required minlength="2" maxlength="20"
                       id="lable_name" _target="{:U($Think.ADMIN_PATH_NAME.'Good/NRLable/checkLable')}">
            </div>
        </div>
        <div class="row cl">
            <div class="col-9 col-offset-3">
                <button class="btn btn-primary radius" id="submit" type="submit">确 定
                </button>
                <button class="btn btn-warning radius" onclick="history.back(-1);return false;">返 回</button>
            </div>
        </div>
    </form>
</div>
<script src="__JS__/Good/lable.js"></script>
